@import "../../assets/variables";
.cart {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($primary-color, 70%);
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
  }
}

.counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background: $aluxury-color;
  border-radius: 50%;
  color: $secondary-color;
  padding: 0.1rem 0.4rem;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .data__container {
    width: 100%;
    opacity: 0;
  }
}

.show {
  .data__container {
    display: block;
    opacity: 1;
    &::after {
      display: block;
    }
  }
  .link::before {
    display: block;
  }
}
