.filters {
  min-width: 240px;
  max-width: 240px;
  position: relative;
  transition: all 0.4s ease;
  padding: 0 2rem;
  margin-bottom: 50px;
  &__list {
    margin: 25px 0;
  }
  .sizes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .filters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50000;
    background: #fff;
    max-width: 100%;
    padding: 2rem;
    &__close {
      display: block;
    }
  }
}
