.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px 50px 25px;
  position: relative;
  min-height: calc(calc(400px * 4) - 140px);
  .submit {
    width: 40%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1024px) {
  .products-container {
    padding: 0 0 80px 0;
    .submit {
      width: 60%;
    }
  }
}
