.full-cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #333;
  transition: all 0.5s ease;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  .item-desc {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .item-info {
    text-align: left;
    span,
    p {
      padding: 0.4rem;
      font-size: 14px;
    }
    .icon {
      cursor: pointer;
      font-size: 25px;
    }
  }

  .item-total {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    .change-amount {
      display: flex;
      align-items: center;

      span,
      .item-amount {
        border: 1px solid lighten(#333, 70%);
        padding: 0.4rem;
        font-size: 1.2rem;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item-amount {
        border-right: none;
        border-left: none;
      }
      span:hover {
        background: lighten(#333, 70%);
        cursor: pointer;
      }
      span:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      span:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .full-cart-item .item-total {
    width: 100%;
    flex-direction: column;
    div {
      padding: 10px 0;
    }
  }

  .full-cart-item {
    .item-desc {
      width: 100%;
    }
  }
}
