.full__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #333;
  transition: all 0.5s ease;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  .full__item__column {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .full__item__column--spacing {
    justify-content: space-between;
  }

  &__info {
    text-align: left;
    .field {
      padding: 0.4rem;
      font-size: 14px;
    }
    .icon {
      cursor: pointer;
      font-size: 25px;
    }
  }

  &__amount {
    display: flex;
    align-items: center;

    .field--btn {
      border: 1px solid lighten(#333, 70%);
      padding: 0.4rem;
      font-size: 1.2rem;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: lighten(#333, 70%);
        cursor: pointer;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .field--bold {
      font-weight: 600;
    }

    .field--border {
      border-left: none;
      border-right: none;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .full__item .full__item__column {
    width: 100%;
    .item__photo,
    &_info {
      width: 50%;
    }
    div {
      padding: 10px 0;
    }
  }

  .full__item__column--spacing {
    flex-direction: column;
  }
}
