@import "../../assets/variables";

.form {
  max-width: 400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 2rem;
  z-index: 100;
  position: relative;
  padding: 0 1rem 2rem 1rem;
}

.decoration {
  color: $aluxury-color;
}
