@import "../../assets/variables";

.form {
  max-width: 300px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 2rem;
  z-index: 100;
  position: relative;
  padding: 0 2rem 2rem 2rem;
  button {
    border: none;
    background: $aluxury-color;
    padding: 0.5rem;
    color: $secondary-color;
    cursor: pointer;

    &:hover {
      background: darken($aluxury-color, 10%);
    }
  }
}

.decoration {
  color: $aluxury-color;
}
