@import "../../assets/variables";

.header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lighten($primary-color, 40%);
  position: relative;
}

.logo {
}

.links {
  display: flex;
  align-items: center;
}

.link-wrapper {
  cursor: pointer;
  padding: 1.5rem 0;
  margin-right: 1rem;
  position: relative;
  .link {
    padding: 0.5rem 1rem;
    border: 1px solid $primary-color;
    border-radius: 5px;
    position: relative;
    .item-counter {
      position: absolute;
      top: -8px;
      right: -8px;
      background: $aluxury-color;
      border-radius: 50%;
      color: $secondary-color;
      padding: 0.1rem 0.4rem;
      transition: all 0.3s ease;
    }

    &::before {
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $primary-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, calc(100% + 6px));
      display: none;
    }
  }

  .data-container {
    width: 300px;
    max-height: 520px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateY(100%);
    background: $secondary-color;
    border: 1px solid $primary-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    overflow: auto;
    ul li {
      padding: 5px 0;
      &:hover {
        color: lighten($color: $primary-color, $amount: 30%);
      }
    }
  }
  &:hover {
    .data-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 2000;
      transition: all 0.4s ease;
    }

    .link::before {
      display: block;
    }
  }
}

@media screen and (max-width: 1024px) {
  .link-wrapper:hover .data-container {
    display: none;
  }
}
