.item {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid #333;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  .item__photo {
    width: 30%;
    .photo__img {
      width: 100%;
      max-height: 200px;
    }
  }
  .item__description {
    margin-left: 10px;
    .field {
      margin-top: 10px;
      font-size: 12px;
      padding-right: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
