@import "../../assets/variables";

.images {
  width: 70%;
  padding: 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  .img {
    width: 50%;
    padding: 8px;
    img {
      width: 100%;
    }
  }
}

.description {
  padding: 2rem 2rem 0 3rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  p {
    line-height: 1.5rem;
  }
}

.description__sizes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

button {
  font-size: 1.5rem;
}

.similiar__products {
  display: flex;
  position: relative;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-thumb {
    background: #333;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 10px;
  }
  .wrapper {
    min-width: 23%;
  }
}

.similiar {
  position: relative;
  .btn--left,
  .btn--right {
    padding: 1rem 1.2rem;
    border-radius: 50%;
    background: $aluxury-color;
    color: $secondary-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    transition: all 0.3s ease;
    opacity: 0;
    cursor: pointer;
  }
  .btn--left {
    left: 20px;
  }
  .btn--right {
    right: 20px;
  }

  &:hover .btn--left,
  &:hover .btn--right {
    opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    flex-direction: column;
    .images {
      width: 100%;
      flex-wrap: nowrap;
      overflow: auto;
      padding: 0;
      .img {
        width: 80%;
        min-width: 80%;
      }
    }
    .description {
      width: 100%;
    }
  }
  .similiar {
    &::-webkit-scrollbar {
      -webkit-appearance: initial;
    }
    .wrapper {
      min-width: 30%;
      padding: 0 4px 0 4px;
    }
  }
  .similiar .btn-left,
  .similiar .btn-right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .similiar .wrapper {
    min-width: 70%;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .similiar .wrapper {
    min-width: 30%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .content .images {
    flex-wrap: wrap;
  }
  .content .images .img {
    width: 50%;
    min-width: 50%;
  }
}
