@import "../../../assets/variables";

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 1s ease;
  background: no-repeat center center/cover;

  &__img {
    width: 100%;
    height: auto;
    max-height: 100vh;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    z-index: 500;
    max-width: 500px;
    color: #fff;
    opacity: 0;
    transition: all 1.2s ease;

    .slide__title {
      font-size: 3rem;
      line-height: 1;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .slide__subtitle {
      font-size: 1.4rem;
      max-width: 400px;
      margin-bottom: 50px;
    }

    .slide__button a {
      padding: 1.5rem 5rem;
      border-radius: 30px;
      background: #fff;
      color: #333;
      transition: all 0.4s ease;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        background: $aluxury-color;
        color: #fff;
      }
    }
  }
}

.slide--active {
  opacity: 1;
  z-index: 500;

  .slide__content {
    opacity: 1;
    left: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .slide {
    background-position-x: -400px;

    .slide__content {
      max-width: 70%;
      left: 70px;
      .slide__title {
        font-size: 1.5rem;
      }
      .slide__subtitle {
        font-size: 1rem;
        max-width: 80%;
      }
      .slide__button a {
        padding: 1rem 1.5rem;
      }
    }
  }
  .slide--active {
    opacity: 1;
    z-index: 500;

    .slide__content {
      opacity: 1;
      left: 40px;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .slide {
    background-position-x: 0px;
  }
}
