@import "../../../assets/variables";

.form-row {
  input {
    padding: 0.6rem;
    margin: 12px 1px 12px 1px;
    width: 100%;
    border: 2px solid lighten($primary-color, 60%);
    border-radius: 2px;

    &:not(:placeholder-shown) {
      border-color: lightgreen;
    }
    &:invalid:not(:placeholder-shown) {
      border-color: red;
    }
  }

  label {
    color: lighten($primary-color, 20%);
  }
}
